* {
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
}

img {
    height: 100vh;
}

#form{
    background-color: skyblue;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

#cuadroform{
    background-color: purple;
}

#form > div:nth-child(odd){
    margin-left: 30px;
}

#cuadroform > h2{
    margin-left: 30px;
}

form{
    display: flex;
    margin: 30px;
}

.col{
    display: flex;
    flex-direction: column;
}