:root{
    --input-border: #E5E7EB;
    --account-button: #596D48;
}

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    margin: 0;
}

span{
    visibility: hidden;
    font-size: 0.68rem;
}

label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

img {
    height: 100vh;
}

#form{
    background-color: rgb(245, 245, 245);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

#cuadroform{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 7px rgb(150, 149, 149);
}

#form > div:nth-child(odd){
    margin-left: 30px;
    margin-right: 200px;
}

#cuadroform > h3{
    margin-left: 30px;
}

form{
    display: flex;
    margin: 30px;
    gap: 60px;
}

.col > label:nth-child(n+2){
    margin-top: 18px;
}

.col{
    display: flex;
    flex-direction: column;
}

#izqda{
    position: relative;
}

#black{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 100px;
    left: 0px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#black > img{
    height: 130px;
}

input{
    padding: 0.4rem;
    border-color: var(--input-border);
    border-style: solid;
    border-radius: 4px;
}

input:focus{
    border-color: blue;
    outline: 0;
    box-shadow: 3px 3px 7px rgb(150, 149, 149);
}

input:invalid{
    border-color: red;
}

input:invalid + span{
    visibility: visible;
    color: red;
}

#black > p{
    color: white;
    font-family: "norsebold";
    font-size: 100px;
    margin: 0;
}